@font-face{
    font-family: 'openhuninn';
    src: url('/font/jf-openhuninn-1.0.ttf');
}
*{
    font-family: -apple-system, openhuninn, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.hl{
  background-color: #ff0;
}